.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    overflow: hidden;
    box-shadow: 0 -12px 20px 10px;
}
.Header .logo{
    display: flex;
}
.Header .logo h2{
    font-size: 30px;
}
.Header .logo img{
    width: 70px;
    padding: 10px;
}

.Header .menus ul{
    display: flex;
    list-style: none;
}
.Header .menus ul li{
    margin-right: 20px;
    font-size: 20px;
}

.Header .menus ul li a{
    text-decoration: none;
    color: aliceblue;
}